<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Title</title>
</head>
<body>
<h1>I'm first template</h1>
<a href="/users">go to Users</a>
<p></p>
</body>
</html>
